html, body, #map {
      height:100%;
      width:100%;
      padding:0px;
      margin:0px;
      position: relative;
      z-index: 1;
   } 

.container
{
      position: relative;
      z-index: 1000;
      opacity: 0.9;
      cursor: default;
      display: block;
}

.btnStyle {
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top, #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFFFFF;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    width:80px;
}

.navbar-brand {
    float: right;
    padding: 10px;
        padding-top: 10px;
        padding-right-value: 10px;
        padding-bottom: 10px;
        padding-left-value: 10px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    font-size: 18px;
    line-height: 20px;
}

.navbar-form {
	width: 335px;
}

.input-group .form-control{
	width: 335px;
}

.input-group-addon
{
	background-color: white;
	border: 0px;
}